meta_report/jama_audit_report_zh.md
jama_audit_report_zh.pdf
/Meeting_With_Dr.Lin_related_Contents/*
/ignorance_documents/*

# Python cache
__pycache__/
*.py[cod]

# Microsoft Office temporary lock files
~$*

*:Zone.Identifier
